<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Click <a href="settings/Hello">here</a> to try the Web API.
    </div>
</body>
</html>
